.date {
  height: 24px;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.31;
  color: #000000;
  display: inline;
}

.phase {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: #2c4db1;
  align-self: flex-start;
}

.description {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.67;
  color: rgba(0, 0, 0, 0.64);
}
