.timelineContainer {
  border-radius: 9px;
  box-shadow: 0px 12px 30px 0 rgba(22, 36, 123, 0.07);
  background-color: #ffffff;
  font-family: 'Gordita';
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  position: relative;
}

.timelineContainer:hover {
  background-image: linear-gradient(236deg, #5368df, #2951c2);
  cursor: pointer;
}

.timelineContainer:hover > div > div {
  color: #fff;
}

.timelineContainer:hover div:nth-child(2) > div > p {
  color: #ffc442;
}

.exchangeTimeline {
  margin-top: -172px;
  margin-bottom: 10px;
}

.SAWTimeline {
  margin-top: -389px;
  margin-bottom: 10px;
}

.paymentTimeline {
  margin-top: -622px;
  margin-bottom: 10px;
}

.paymentPhaseOneDev {
  bottom: 290px;
}

.paymentPhaseTwoDeployment {
  bottom: 185px;
}

.paymentGatewayComplete {
  left: -17px;
  bottom: 428px;
}

.SAWPhaseOne {
  bottom: 95px;
}

.SAWPhaseTwoDev {
  bottom: 178px;
  right: 50px;
}

.SAWPhaseTwoDeployment {
  left: 50px;
  bottom: 321px;
}

.SAWPhaseOneDeployment {
  bottom: 63px;
}

.mainDevelopment {
  right: 50px;
  bottom: 78px;
}

.phaseTwoDeployment {
  bottom: 238px;
}

.phaseTwoDevelopment {
  bottom: 110px;
}

.exchangeComplete, .SAWComplete {
  top: -186px;
  left: 16px;
}

@media (max-width: 768px) {
  .mainDevelopment {
    bottom: 0;
    margin-top: 10px
  }

  .phaseTwoDevelopment {
    right: 28px;
    top: 8px;
    bottom: 0;
  }

  .SAWPhaseOne {
    left: -60px;
    bottom: 44px;
  }

  .SAWPhaseTwoDeployment {
    left: 87px;
  }

  .SAWPhaseOneDeployment {
    bottom: 123px;
  }
}

@media (max-width: 992px) {
  .exchangeComplete {
    top: -277px;
  }

  .SAWComplete {
    top: -246px;
  }
}


@media (max-width: 576px) {
  .exchangeComplete {
    top: -257px;
  }
}
