.title {
  background-image: linear-gradient(304deg, #8a8af4, #3159b8);
  font-family: 'Gordita';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-family: 'Gordita';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: -0.1px;
  text-align: left;
  color: #01265c;
}

.useCases {
  background-image: linear-gradient(256deg, #6277d5, #335ab9), linear-gradient(to bottom, #01265c, #01265c);
  font-family: 'Gordita';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-align: left;
  color: #4063C3;
  -webkit-background-clip: text;
  background-clip: text;
}

.content {
  font-family: 'Gordita';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.1px;
  text-align: left;
  color: rgba(1, 38, 92, 0.68);
  padding-right: 0;
}
