.container {
  margin-top: 104px;
}

.header {
  width: 429px;
  background-image: linear-gradient(308deg, #8a8af4, #3159b8);
  font-family: 'Gordita';
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  letter-spacing: normal;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subheader {
  font-family: 'Gordita';
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.76;
  letter-spacing: normal;
  color: #01265c;
}

.exchange {
  width: 498px;
  height: 493px;
  margin-top: 40px;
}

.content {
  font-family: 'Gordita';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.1px;
  text-align: left;
  color: rgba(1, 38, 92, 0.68);
}

.saw {
  /* background: url('../../assets/images/saw.png') 0% 0% / contain no-repeat; */
  /* width: 527px;
  height: 400px; */
  margin-top: 40px;
}

.paymentGateway {
  /* background: url('../../assets/images/payment-gateway.png') 0% 0% / contain no-repeat; */
  /* width: 511px;
  height: 554px; */
  margin-top: 40px;
}

.smartCard {
  /* background: url('../../assets/images/smart-card.png') 0% 0% / contain no-repeat; */
  /* width: 553px;
  height: 513px; */
  margin-top: 40px;
}

@media only screen and (max-width: 414px) {
  .exchange {
    height: 425px;
  }

  .saw {
    height: 336px;
  }

  .paymentGateway {
    height: 476px;
  }

  .smartCard {
    height: 432px;
  }
}

.row {
  margin-top: 8px;
}
