.App {
  background-color: #ffffff;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown-toggle::after {
  position: relative;
  left: 2px;
  top: 2px;
}

.dropdown-menu.show {
  width: 224px;
  height: 166px;
  left: -80px;
  background-image: url('./assets/images/dropdown-menu.png');
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #DFE9FF;
}

.dropdown-menu.show a {
  color: #fff;
  background: none;
  position: relative;
  left: 23px;
  letter-spacing: 1px;
}
