.container {
  width: 100%;
  height: auto;
  background-image: linear-gradient(74deg, rgb(234, 240, 255, 0.51), rgb(220, 231, 255, 0.51) 48%, rgb(215, 228, 255, 0.51) 63%, rgb(204, 221, 255, 0.51));
  margin-top: 15%;
}

.title {
  background-image: linear-gradient(304deg, #8a8af4, #3159b8);
  font-family: 'Gordita';
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pitchdeck, .onepager, .lightpaper, .whitepaper, .otherLanguages {
  width: 203px;
  height: 235px;
  cursor: pointer;
}

.pitchdeck {
  background: url('../../assets/images/pitchdeck.png') 0% 0% / contain no-repeat;
}

.onepager {
  background: url('../../assets/images/onepager.png') 0% 0% / contain no-repeat;
}

.lightpaper {
  background: url('../../assets/images/lightpaper.png') 0% 0% / contain no-repeat;
}

.whitepaper {
  background: url('../../assets/images/whitepaper.png') 0% 0% / contain no-repeat;
}

.otherLanguages {
  background: url('../../assets/images/whitepaper-other-languages.png') 0% 0% / contain no-repeat;
}

@media only screen and (max-width: 414px) {
  .container {
    margin-top: 0;
  }
}
